<ion-view view-title="Admin Request Proposals">
  <ion-content>
	<div class="list">  
	  <div class="item item-divider">
	   <a ng-click = "showAdminPromoteList()"><i class="ion-refresh"></i> Refresh</a>	  
	  </div>	
	  <div class="item item-divider">
	   Proposals:
	  </div>	  
      <ion-list>
      <ion-item ng-repeat="belong in adminPromoteList" ng-click = "setPromoteDisplay(belong)">
		Name: <h3>{{decode(belong.name)}} {{decode(belong.lastname)}}</h3>
		Reason for Change:  <p>{{decode(belong.reason)}}</p>

      </ion-item>
    </ion-list>	
	</div>

  </ion-content>
</ion-view>
